* {
    margin: auto;
}
body {
    background-color:#CDEBEF;
}
.title {
    font-family: 'Kalam', cursive;
    font-size: 45px;
    margin-top: 15px;
    display: flex;
    justify-content: center;
}
.formButton {
    font-family: 'Kalam', cursive;
    font-weight: bolder;
    font-size: 25px;
    text-decoration: none;
    border-radius: 50px;
    width: 42px;
    height: 42px;
    display: flex;
    justify-content: center;
    cursor: pointer;
    box-shadow: none;
    background-color: #A4BCBF;
    color: white;
    border: 1px solid #A4BCBF;
}
.addTab {
    position: fixed;
    top: 7vh;
    left: 40vw;
    flex-direction: column;
    width: 20%;
    border-radius: 15px;
    padding: 20px;
    background-color: #546062;
    display:none;
    z-index: 10;
}
.addTab.active {
    display:flex;
}
.addTabTitle {
    font-weight: normal;
    font-family: 'Kalam', cursive;
    font-size:30px;
    color: #D7EFF2;
    display:flex;
    justify-content: center;

}
.styleHelper {
    margin-top:15px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.formInput {
    font-size:14px;
    border-radius: 25px;
    padding:10px;
    outline: none;
    border:1px solid white;
    width:90%;
}
.formBtn {
    font-size:15px;
    margin-top: 15px;
    height:35px;
    width:52%;
    border-radius: 35px;
    background-color: white;
    border: 1px solid white;
}
#overlay {
    position: fixed;
    opacity: 0;
    top:0;
    bottom:0;
    left:0;
    right:0;
    pointer-events:none ;
    background-color:rgb(0,0,0,.7);
}
#overlay.active {
    opacity: 1;
    pointer-events: all;
}
#Kanban {
    margin-top:10px;
    background-color:rgba(202, 209, 203, 0.6);
    display:flex;
    justify-content: flex-start;
    width: 80%;
    overflow-x: auto;
    white-space: nowrap;
    height: 545px;
    overflow-y: hidden;
}
.tab {
    background-color:rgba(255,255,255,0.4);
    border:solid 1px #ABB7B7;
    padding:10px;
    width: 16%;
    height:500px;
    margin: 10px;
    overflow-y: auto;  
}
.tabTitle {
    font-family: 'Handlee', cursive;
    font-size: 20px;
    font-weight: bold;
    border-bottom: 1px solid rgba(0,0,0,0.5);
    width:100%;
    clear:right;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 16px;
    padding-bottom: 10px;

}
.removeButton {
    font-family: 'Kalam', cursive;
    margin-right:10px;
    float: right;
    font-weight: bold;
    font-size:23px;
    margin-bottom:13px;

}
.addButton {
    width:10px;
    height: 10px;
    border-radius: 50px;
    
    font-size:20px;
    font-weight: bold;
    margin:0;
    padding-bottom: 22px;
    padding-right:17px; 
    padding-top:0;
}
.idea {
    font-family: 'Handlee', cursive;
    width:90%;
    height:50px;
    font-size: 17px;
    margin-bottom: 12px;
    padding-top:10px;
    padding-left:15px;
    background-color:rgba(204,204,204,0.6);
    display:flex;
    flex-direction: row;
    justify-content: space-around;
}

